@use '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;

    @media (max-width: 767px) {
        width: 80%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 90%;
    }
}

header {
    .navbar {
        background-color: #D98859;
        padding: 32px 0px;

        .container {
            .nav-link:hover {
                color: #592202;
            }
            .navbar-nav {
                
                .nav-item {
                    .nav-link {
                        border: none;
                        padding-right: 24px;
                        padding-left: 24px;
                        color: #592202;
                        margin-left: 24px;
                        
                        &:hover {
                            background-color: #592202;
                            color: #fff;

                            i {
                                color: #fff;
                            }
                        }
                    }
                    .active {
                        background-color: #592202;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                        
                        &:hover {
                            background-color: #592202;
                            color: #fff;
                        }
                    }
                } 
            }
        }
    }
}

h1, h2, h3, p, i, label {
    color: #592202;
}

button.botaocontato, .botaocurso, button.botaoform {
    background-color: #592202;
    color: #fff;
    display: block;
    margin: 0px auto;
    padding: 16px;

    i {
        color: #fff;
    }

    &:hover {
        background-color: #F25C05;
        color: #fff;
    }
}

section {
    .container-intro {
        padding: 208px 0px 104px 0px;
        border-bottom: 3px solid #BF9288;

        @media (max-width: 767px) {
            padding: 144px 0px 104px 0px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            img {
                display: block;
            }
        }
    }

    .container-sobre {
        padding: 104px 0px;
        border-bottom: 3px solid #68A689;

        @media (max-width: 767px) {
            padding: 56px 0px;
        }
    }

    .container-cursos {
        padding: 104px 0px;
        border-bottom: 3px solid #D9B504;

        @media (max-width: 767px) {
            padding: 56px 0px;
        }
    }

    .container-contato {
        padding: 104px 0px;

        @media (max-width: 767px) {
            padding: 56px 0px;
        }

        .social-links {
            li {
                display: inline;

                a {
                    text-decoration: none;

                    .instagram {
                        color: rgb(198, 6, 221);
                    }

                    .whatsapp {
                        color: #158501;
                    }

                    .facebook {
                        color: #1877F2;
                    }

                    .twitter {
                        color: #1C99E6;
                    }
                }
            }
        }
    }
}

.carousel {
    &-item {
        img {
            max-height: 500px;

            @media (max-width: 767px) {
                max-height: 800px;
                width: 100%;
            }
        }
    }
}

footer {
    background-color: #D98859;
    padding: 16px 0px;

    .container {
        p {
            margin: 0px;
        }
    }
}